<p>admin-profile works!</p>
<button class="btn btn-primary" (click)="goToDash()">Dashboard</button>

<button class="btn btn-primary" (click)="navigateTo()">Landing
    page</button>

<p><strong>{{data}}</strong></p>

<p><strong>ADMIN PROFILE</strong></p>
<div class="list">
    <mat-card *ngFor="let std of stdList ; let i= index">
        <mat-card-title> {{i+1}}.Name: {{std.name}}</mat-card-title>
        <mat-card-subtitle>Dept: B.Tech</mat-card-subtitle>
        <mat-card-content>Age: {{std.age}}</mat-card-content>
    </mat-card>
</div>