<form>
    <div fxLayout="column" fxLayoutAlign="space-around stretch">
        <mat-label>
            USERNAME*
        </mat-label>
        <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        </mat-form-field>
        <mat-label>
            PASSWORD*
        </mat-label>
        <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        <button mat-raised-button color="primary">Log in</button>
    </div>
</form>