<div class="container">
    <mat-grid-list cols="4" rowHeight="98.2vh">
        <mat-grid-tile colspan="1">1
            <img src="https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGQlMjBwaG90b3N8ZW58MHx8MHx8&w=1000&q=80"
                alt="">
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <h1><b>WELCOME TO ANGULAR </b></h1>
            <app-login></app-login>
        </mat-grid-tile>
    </mat-grid-list>
    
</div>