<div *ngIf="loderVisible" class="myloader">
    <app-loader></app-loader>
</div>
<div [ngClass]="loderVisible ? 'blurBg': '' ">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div fxFlex="50">
            <app-carousel></app-carousel>
        </div>
        <div fxFlex="50">
            <div fxLayout="row" class="p-5 pt-4" fxLayoutAlign="space-between center">
                <div>
                    <img class="logo" src="assets/logos/scolor.png" alt="">
                </div>
                <div class="cambiar-tema">
                    <button *ngIf="this.mode" type="button" class="btn icon" (click)="cambiarTema('dark')">
                        <i class="fas fa-moon"></i>
                    </button>
                    <button *ngIf="!this.mode" type="button" class="btn icon" (click)="cambiarTema('light')">
                        <i class="fas fa-sun"></i>
                    </button>
                </div>
            </div>
            <app-login  @inOutPaneAnimation (valueChange)="loginGetValue($event)" *ngIf="loginVisible"></app-login>
            <app-signup  @inOutPaneAnimation (valuechange)="signupGetValue($event)" *ngIf="!loginVisible"></app-signup>
        </div>
    </div>
</div>