.header{
    color: #121212;
    font-weight: 800;
    font-size: 20px;
}
.title{
    color: #121212;
    font-weight: 600;
    font-size: 20px;
}
.subtitle{
    color: #121212;
    font-weight: 500;
    font-size: 17px;
}